// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.cyan {
	color: #33CFFF;
}

div.magenta {
	color: #F75C8F;
}

div.yellow {
	color: #FFE029;
}

div.orange {
	color: #FFBC00;
}

div.blue {
	color: #0380E8;
}

div.purple {
	color: #B561B5;
}

div.red {
	color: #FF485E;
}

div.lime {
	color: #BEE856;
}